beautifulsoup4==4.15.0
flatbuffers==25.12.19
markdown-it-py==4.0.0
mdurl==0.1.2
networkx==3.7
numpy==2.5.3
onnxruntime==1.30.0
packaging==26.3
protobuf==7.36.2
psutil==7.2.2
pymupdf==1.28.2
pymupdf-layout==1.28.2
pymupdf4llm==1.28.2
PyYAML==6.0.3
RapidFuzz==3.14.3
soupsieve==2.10
tabulate==0.10.0
typing_extensions==4.16.0
